# MikroC build files
*.asm
*.cp
*.mcl
*.hex
*.lst
*.log
*.bmk
*.dct
*.dbg
*.dbt
*.dlt
*.mcppi
*.user.dic
*.callertable.txt
*.ini

# XC8 build files
*.cmf
*.d
*.elf
*.hxl
*.o
*.p1
*.rlf
*.s
*.sdb
*.sym

# OS files
.DS_Store
Thumbs.db

# PDF files
*.pdf
