# === XC8 Compiler Artifacts ===
*.hex
*.cmf
*.elf
*.hxl
*.lst
*.map
*.o
*.p1
*.srl
*.sym
*.d
*.i
*.pre
*.as

# === Proteus Simulation & Backup Files ===
*.pdsbak
*.pdsprj.bak
*.txt
Last\ Loaded\ *

# === Old MikroC artifacts (Keeping for safety) ===
*.asm
*.cp
*.mcl
*.log
*.bmk
*.dct
*.dbg
*.dbt
*.dlt
*.mcppi
*.user.dic
*.callertable.txt
*.ini

# Command line accidental files
cls
dir
where
xc8-cc
temp.py
combined_code.txt
*.sdb
*.zip

# === Local Device Family Pack (The DFP folder we created) ===
DFP/

# === OS junk ===
.DS_Store
Thumbs.db/
